@use "@/styles/variables.scss" as *;

.general {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-left: -2.75rem;
  @media screen and (max-width: 420px) {
    margin-left: -1.5rem;
    width: calc(100% + 4rem);
  }
}

.general_item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: .25rem;
  background: #fff;
  border: 1px solid $yellow;
  border-radius: .5rem;
  padding: .5rem 1rem;
  text-align: center;
  @media screen and (max-width: 420px) {
    margin: 0;
    border-radius: 0;
    text-transform: unset;
    max-width: 8rem;
    padding: .5rem;
    line-height: 1;
    &:not(:last-child) {
      border-right: none;
    }
    >*:not(:last-child) {
      margin-bottom: .3rem;
    }
    &:first-child {
      border-radius: 1rem 0 0 1rem;
    }
    &:last-child {
      border-radius: 0  1rem 1rem 0;
    }
  }
  @media screen and (max-width: 370px) {
    max-width: 7rem;
  }
}
.title {
  color: $dark;
  font-weight: 500;
  font-size: 1.5rem;
  @media screen and (max-width: 420px) {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  @media screen and (max-width: 370px) {
    font-size: 1rem;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  color: #818692;
  white-space: nowrap;
  @media screen and (max-width: 420px) {
    font-weight: 400;
    font-size: 1rem;
  }
  @media screen and (max-width: 420px) {
    white-space: normal;
  }
}