@use "@/styles/variables" as *;


.title {
  font-weight: 700;
  color: $title;
  img, svg {
    vertical-align: middle;
    margin-left: 1rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
  &:global(.text_white) {
    color: #fff;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &.title_h1 {
    font-size: 3.4rem;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }

  &.title_h2 {
    font-size: 3.2rem;
  }

  &.title_h3 {
    font-size: 2.6rem;
  }

  &.title_h4 {
    font-size: 2.4rem;
  }

  &.title_h5 {
    font-size: 2rem;
  }

  &.title_h6 {
    font-size: 1.8rem;
  }
}


@media screen and (max-width: 600px) {
  .title {
    line-height: normal;
    position: relative;
    padding-right: 3rem;
    font-weight: 500;
    img, svg {
      position: absolute;
      right: 0;
      top: .8rem;
    }
    &.title_h1 {
      font-size: 2.6rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &.title_h2 {
      font-size: 2.2rem;
    }

    &.title_h3 {
      font-size: 2rem;
    }

    &.title_h4 {
      font-size: 1.8rem;
    }

    &.title_h5 {
      font-size: 1.6rem;
    }

    &.title_h6 {
      font-size: 1.5rem;
    }
  }
}
