* {
  box-sizing: border-box;
}

html {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 10px;
  max-height: 1000000px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
  color: #131313;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  color: inherit;
  font-family: inherit;
  text-transform: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  display: block;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

img {
  border: none;
  outline: 0;
  width: auto;
  height: auto;
}

button {
  outline: 0;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font-size: inherit;
  color: inherit;
}

p {
  font-size: inherit;
  line-height: inherit;
}

/*Form*/
input:focus:required:invalid,
textarea:focus:required:invalid {
}

input:required:valid,
textarea:required:valid {
}

:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
}

input[type="submit"] {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
}

input,
select,
textarea {
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
}

input.error {
  color: red !important;
}

input.error::-webkit-input-placeholder {
  color: red !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

input.error::-moz-placeholder {
  color: red !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

input.error:-moz-placeholder {
  color: red !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

input.error:-ms-input-placeholder {
  color: red !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.clearfix {
  zoom: 1;
  /* ie 6/7 */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

[role="button"] {
  cursor: pointer;
}

@-ms-viewport {
  width: device-width;
}

strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

::-moz-selection {
  background: rgba(#fff, 0.8);
  color: #000;
}

::selection {
  background: rgba(#fff, 0.8);
  color: #000;
}

/*safari fix*/
input:required {
  box-shadow: none;
}
